<div class="homepage-name-container">
  <svg class="homepage-logo animate fade-to-amber" viewBox="0 0 347 347" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" width="347" height="347" role="img" aria-label="rohan.jk logo">
    <g stroke="none" transform="translate(0,347) scale(.1,-.1)">
      <path fill="currentColor" d="M370 3461c-89-19-151-87-170-186C188 3209 10 371 10 243 10 138 41 72 108 32l47-27h2960l46 28c60 36 95 87 109 162 12 66 190 2904 190 3032 0 105-31 171-98 211l-47 27-1455 1c-800 1-1471-1-1490-5zm650-488c0-222 0-227-19-208-20 23-347 390-369 418-14 16-4 17 186 17h202v-227zm2167 165c-3-35-25-376-48-758s-43-696-44-697c-1-2-46 19-101 47-327 163-675 187-996 69-46-16-88-31-94-32-5-1-141 145-302 324-316 354-306 339-208 339 74 0 251 32 342 61 144 46 235 113 286 213 17 32 22 60 22 126 1 74-3 93-27 142-44 90-136 160-267 205l-65 22 754 1h754l-6-62zM654 2810l155-175-92-13c-51-7-137-28-192-46-55-19-101-33-102-32-1 0 5 96 13 211 7 116 14 226 14 245v35l24-25c14-14 94-104 180-200zm766 195c106-9 246-41 307-71 120-58 122-139 5-198-78-39-195-62-414-81l-68-6v372l48-5c26-3 81-8 122-11zm-412-597c8-8 12-64 12-185v-174l-47 5c-27 3-82 8-123 11-172 14-336 67-380 122-85 108 102 200 460 226 25 2 50 4 56 5 5 1 15-3 22-10zm665-759c-16-16-139-81-208-111-339-145-670-143-1018 7l-89 38 6 41c3 23 8 105 12 184 4 78 8 142 9 142 2 0 32-14 67-30 133-62 381-100 661-100h137v321l216-242c118-133 212-245 207-250z" />
    </g>
  </svg>
  <div class="homepage-name-wrapper">
    <div class="homepage-name-shadow">rohan.jk</div>
    <h1 class="homepage-name animate">rohan.jk</h1>
  </div>
</div>
