---
import { blueprintPathFor, defaultPathFor } from '../lib/theme-paths';

const classicHref = defaultPathFor(Astro.url.pathname);
const blueprintHref = blueprintPathFor(Astro.url.pathname);
---
<a
  class="transit-theme-switch sign-pill"
  href={classicHref}
  data-theme-pref="default"
  data-ride-ignore
>Classic Mode</a>
<a
  class="blueprint-theme-switch sign-pill"
  href={blueprintHref}
  data-theme-pref="blueprint"
  data-ride-ignore
>Blueprint Mode</a>
